# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# Environment / secrets
# =========================
.env

# =========================
# Data (generated)
# =========================
# data/
# data/curated
#!data/*__zstd*.parquet

# =========================
# OS / misc
# =========================
.DS_Store
Thumbs.db
